body
{
    background-color: #24353F;
    font-family: sans-serif;
}
:root
{
    --darkBlueShadow:#17a2b8;
}
.form-control:focus 
{
    border-color:var(--darkBlueShadow);
    box-shadow: none;
}
h1
{
    font-size: 40px;
    color: var(--darkBlueShadow);
}
.submit-btn  .btn
{
    border:1px solid var(--darkBlueShadow);
    color: var(--darkBlueShadow);
}
.submit-btn  .btn:hover
{
    background-color: var(--darkBlueShadow);
    color: white;
}
.account-question  a:hover
{
    text-decoration: underline !important;
}
.btn-outline-warning
{
    color: rgba(255, 255, 255, 0.5);
}
.btn-outline-warning:hover 
{
    color: rgba(255, 255, 255, 0.75);
}
.home-content p 
{
    font-size: 40px;
    font-weight: 500;
    color: var(--darkBlueShadow);
}
.boxShadow
{
    box-shadow:10px 10px 30px 8px rgba(0,0,0,0.8) ;
}
@media  screen and (max-width:991px){
    h1
    {
        font-size: 25px;
    }
}